<template>
    <div class="panel panel-default">
        <div class="panel-heading">Example Component</div>

        <div class="panel-body">
           This is a test to see if it is working, but is it ?
        </div>
    </div>
</template>



<script>
    export default {
        mounted() {
            console.log('Jaaaa')
        }
    }
</script>
