
<template>
    <div id="root-element">
        <div class="row">
            <div class="col-sm-12">
                <h4 >All tasks</h4>
            </div>
        </div>
        <form action="#" @submit.prevent="createTask()">
            <div class="input-group">
                <input v-model="taskInput.text" type="text" name="body" class="form-control" autofocus autocomplete="off">
                <span class="input-group-btn">
                    <button id="newBtn" type="submit" class="btn btn-primary">New Task</button>
                </span>
            </div>
        </form>
        <br>
        <br>
        <h4>All Tasks</h4>
        <ul class="list-group">
            <transition-group name="list">
                <li :class="{'list-group-item-success':task.done}" class="list-item list-group-item"  v-for="(task, index) in list" :key="task.id">
                    <div class="row">
                        <div class="col-sm-8">
                            <input :class="{'stripe':task.done}" v-model="task.text" @keyup.enter="updateTask(task.id, task.text)" data-toggle="tooltip" data-placement="left" title="Click on the text to edit, hit enter to save it.">
                        </div>
                        <div class="col-sm-4">
                            <button @click="removeTask(task.id)" class="btn btn-danger btn-xs pull-right">Delete</button>
                            <button v-if="task.done === 0" @click="finishTask(task.id)" class="btn btn-success btn-xs pull-right" style="margin-right: 10px">Done!</button>
                            <button v-else @click="undoneTask(task.id)" class="btn btn-success btn-xs pull-right" style="margin-right: 10px">Undo!</button>
                        </div>
                    </div>


                </li>
            </transition-group>
        </ul>

    </div>
</template>
<script>


    // get the csrf token from the meta
    var csrf_token = $('meta[name="csrf-token"]').attr('content');

    export default {
        data() {
            return {
                list: [],
                taskInput: {
                    id: '',
                    text: ''
                }
            };
        },

        // So the tasks will show when the page is loaded
        created() {
            this.allTasks();

        },

        methods: {
            // get all the existing tasks
            allTasks() {
                axios.get('tasks').then((response) => {
                    this.list = response.data;

                    Vue.nextTick(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                });
            },
            // create a new task
            createTask() {
                axios({
                    method: 'post',
                    url: '/tasks',
                    data: {
                        _token: csrf_token,
                        text: this.taskInput.text,
                    },
                }).then(response => {
                    this.taskInput.text = '';
                    this.allTasks();
                });
            },
            // remove the tasks
            removeTask(id) {
                axios.get('tasks/' + id).then((response) => {
                    this.allTasks();
                });
            },
            // Finish a task
            finishTask(id) {
                axios({
                    method: 'post',
                    url: 'tasks/done/' + id,
                    data: {
                        _token: csrf_token,
                        data: this.taskInput,
                    },
                }).then(response => {
                    this.allTasks();
                });
            },
            // Finish a task
            undoneTask(id) {
                axios({
                    method: 'post',
                    url: 'tasks/undone/' + id,
                    data: {
                        _token: csrf_token,
                        data: this.taskInput,
                    },
                }).then(response => {
                    this.allTasks();
                });
            },
            // Update a task
            updateTask(id, text) {
                console.log('pils');
                console.log(id);
                axios({
                    method: 'post',
                    url: 'tasks/update/' + id,
                    data: {
                        _token: csrf_token,
                        text: text,
                    },
                }).then(response => {
                    this.allTasks();
                });
            }
        }
    }

</script>
